<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>Chrome_Dev_Tools</key>
			<dict>
				<key>date</key>
				<date>2015-07-31T16:00:35Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Chrome Dev Tools</string>
					</array>
					<key>name</key>
					<string>Chrome Developer Tools</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Chrome_Dev_Tools</string>
				</dict>
			</dict>
			<key>Docker</key>
			<dict>
				<key>date</key>
				<date>2018-05-24T20:18:59Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Docker</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Docker</string>
				</dict>
			</dict>
			<key>Objective-C</key>
			<dict>
				<key>date</key>
				<date>2018-05-24T20:19:23Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>xcode</string>
						<string>apple</string>
						<string>cocoa touch</string>
						<string>iphone</string>
						<string>ipad</string>
						<string>ios</string>
						<string>mac os x</string>
						<string>macosx</string>
						<string>objc</string>
						<string>objectivec</string>
						<string>objective c</string>
					</array>
					<key>name</key>
					<string>Objective-C</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Objective-C</string>
				</dict>
			</dict>
			<key>PostgreSQL_CLI</key>
			<dict>
				<key>date</key>
				<date>2018-05-24T20:19:31Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>PostgreSQL CLI</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>PostgreSQL_CLI</string>
				</dict>
			</dict>
			<key>Regular_Expressions</key>
			<dict>
				<key>date</key>
				<date>2015-07-31T16:00:17Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>RegEx</string>
						<string>reg ex</string>
					</array>
					<key>name</key>
					<string>Regular Expressions</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Regular_Expressions</string>
				</dict>
			</dict>
			<key>Vim</key>
			<dict>
				<key>date</key>
				<date>2018-05-24T20:19:46Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Vim</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Vim</string>
				</dict>
			</dict>
			<key>Visual_Studio_Code</key>
			<dict>
				<key>date</key>
				<date>2018-05-24T20:19:48Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Visual Studio Code</string>
					<key>platform</key>
					<string>cheatsheet</string>
					<key>uniqueIdentifier</key>
					<string>Visual_Studio_Code</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHCocoaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>C++_Offline</key>
			<dict>
				<key>date</key>
				<date>2018-05-24T21:03:13Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>C++ (Offline)</string>
					<key>platform</key>
					<string>sooffline</string>
					<key>uniqueIdentifier</key>
					<string>C++_Offline</string>
				</dict>
			</dict>
			<key>C_Offline</key>
			<dict>
				<key>date</key>
				<date>2018-05-24T21:02:49Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>C (Offline)</string>
					<key>platform</key>
					<string>sooffline</string>
					<key>uniqueIdentifier</key>
					<string>C_Offline</string>
				</dict>
			</dict>
			<key>Docker_Offline</key>
			<dict>
				<key>date</key>
				<date>2018-05-24T20:58:14Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Docker (Offline)</string>
					<key>platform</key>
					<string>sooffline</string>
					<key>uniqueIdentifier</key>
					<string>Docker_Offline</string>
				</dict>
			</dict>
			<key>Express_Offline</key>
			<dict>
				<key>date</key>
				<date>2018-05-24T20:58:48Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>expressjs</string>
						<string>nodejs</string>
						<string>node.js</string>
						<string>express.js</string>
					</array>
					<key>name</key>
					<string>Express (Offline)</string>
					<key>platform</key>
					<string>sooffline</string>
					<key>uniqueIdentifier</key>
					<string>Express_Offline</string>
				</dict>
			</dict>
			<key>Git_Offline</key>
			<dict>
				<key>date</key>
				<date>2018-05-24T21:00:43Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>Git (Offline)</string>
					<key>platform</key>
					<string>sooffline</string>
					<key>uniqueIdentifier</key>
					<string>Git_Offline</string>
				</dict>
			</dict>
			<key>HTML_Offline</key>
			<dict>
				<key>date</key>
				<date>2018-05-24T21:14:14Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>name</key>
					<string>HTML (Offline)</string>
					<key>platform</key>
					<string>sooffline</string>
					<key>uniqueIdentifier</key>
					<string>HTML_Offline</string>
				</dict>
			</dict>
			<key>NodeJS_Offline</key>
			<dict>
				<key>date</key>
				<date>2018-05-24T21:05:17Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>node.js</string>
					</array>
					<key>name</key>
					<string>NodeJS (Offline)</string>
					<key>platform</key>
					<string>sooffline</string>
					<key>uniqueIdentifier</key>
					<string>NodeJS_Offline</string>
				</dict>
			</dict>
			<key>PostgreSQL_Offline</key>
			<dict>
				<key>date</key>
				<date>2018-05-24T21:01:46Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>psql</string>
					</array>
					<key>name</key>
					<string>PostgreSQL (Offline)</string>
					<key>platform</key>
					<string>sooffline</string>
					<key>uniqueIdentifier</key>
					<string>PostgreSQL_Offline</string>
				</dict>
			</dict>
			<key>React_Offline</key>
			<dict>
				<key>date</key>
				<date>2018-05-24T20:57:03Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>react.js</string>
						<string>reactjs</string>
					</array>
					<key>name</key>
					<string>React (Offline)</string>
					<key>platform</key>
					<string>sooffline</string>
					<key>uniqueIdentifier</key>
					<string>React_Offline</string>
				</dict>
			</dict>
			<key>Regular_Expressions_Offline</key>
			<dict>
				<key>date</key>
				<date>2018-05-24T21:03:06Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>regex</string>
					</array>
					<key>name</key>
					<string>Regular Expressions (Offline)</string>
					<key>platform</key>
					<string>sooffline</string>
					<key>uniqueIdentifier</key>
					<string>Regular_Expressions_Offline</string>
				</dict>
			</dict>
			<key>Swift_Offline</key>
			<dict>
				<key>date</key>
				<date>2018-05-24T21:06:02Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>iphone</string>
						<string>ipad</string>
						<string>xcode</string>
						<string>apple</string>
						<string>cocoa touch</string>
						<string>leopard</string>
						<string>snow leopard</string>
						<string>lion</string>
						<string>mountain lion</string>
						<string>mavericks</string>
						<string>10.8</string>
						<string>10.6</string>
						<string>10.7</string>
						<string>10.9</string>
						<string>10.5</string>
						<string>xcode</string>
						<string>apple</string>
						<string>cocoa</string>
						<string>macosx</string>
						<string>mac osx</string>
						<string>mac os x</string>
					</array>
					<key>name</key>
					<string>Swift (Offline)</string>
					<key>platform</key>
					<string>sooffline</string>
					<key>uniqueIdentifier</key>
					<string>Swift_Offline</string>
				</dict>
			</dict>
			<key>TypeScript_Offline</key>
			<dict>
				<key>date</key>
				<date>2018-05-24T21:04:22Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>javascript</string>
					</array>
					<key>name</key>
					<string>TypeScript (Offline)</string>
					<key>platform</key>
					<string>sooffline</string>
					<key>uniqueIdentifier</key>
					<string>TypeScript_Offline</string>
				</dict>
			</dict>
			<key>iOS_Offline</key>
			<dict>
				<key>date</key>
				<date>2018-05-24T21:10:50Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>iphone</string>
						<string>ipad</string>
						<string>xcode</string>
						<string>apple</string>
						<string>cocoa touch</string>
						<string>objective-c</string>
						<string>objc</string>
					</array>
					<key>name</key>
					<string>iOS (Offline)</string>
					<key>platform</key>
					<string>sooffline</string>
					<key>uniqueIdentifier</key>
					<string>iOS_Offline</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>Enzyme</key>
			<dict>
				<key>date</key>
				<date>2018-05-24T20:23:46Z</date>
				<key>entry</key>
				<dict>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Enzyme#readme</string>
					<key>authorLinkText</key>
					<string>Jason Weir</string>
					<key>name</key>
					<string>Enzyme</string>
					<key>platform</key>
					<string>usercontribEnzyme</string>
					<key>uniqueIdentifier</key>
					<string>Enzyme</string>
				</dict>
			</dict>
			<key>Flow</key>
			<dict>
				<key>date</key>
				<date>2018-05-24T20:23:40Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Flow</string>
						<string>Facebook</string>
						<string>JavaScript</string>
						<string>UI</string>
						<string>type</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Flow#readme</string>
					<key>authorLinkText</key>
					<string>Michael Sharer</string>
					<key>name</key>
					<string>Flow</string>
					<key>platform</key>
					<string>usercontribFlow</string>
					<key>uniqueIdentifier</key>
					<string>Flow</string>
				</dict>
			</dict>
			<key>Jest</key>
			<dict>
				<key>date</key>
				<date>2018-05-24T20:23:09Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>Jest</string>
						<string>React</string>
						<string>Webpack</string>
						<string>jQuery</string>
						<string>CoffeeScript</string>
						<string>Facebook</string>
						<string>JavaScript</string>
						<string>Reactjs</string>
						<string>UI</string>
						<string>Unit Test</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Jest#readme</string>
					<key>authorLinkText</key>
					<string>Michael Sharer</string>
					<key>name</key>
					<string>Jest</string>
					<key>platform</key>
					<string>usercontribJest</string>
					<key>uniqueIdentifier</key>
					<string>Jest</string>
				</dict>
			</dict>
			<key>Ramda</key>
			<dict>
				<key>date</key>
				<date>2018-05-24T20:22:23Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Ramda#readme</string>
					<key>authorLinkText</key>
					<string>Alex Bepple</string>
					<key>name</key>
					<string>Ramda</string>
					<key>platform</key>
					<string>usercontribRamda</string>
					<key>uniqueIdentifier</key>
					<string>Ramda</string>
				</dict>
			</dict>
			<key>React</key>
			<dict>
				<key>date</key>
				<date>2015-07-31T15:57:17Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>React</string>
						<string>Facebook</string>
						<string>JavaScript</string>
						<string>Reactjs</string>
						<string>UI</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/React#readme</string>
					<key>authorLinkText</key>
					<string>Cheng Lou</string>
					<key>name</key>
					<string>React</string>
					<key>platform</key>
					<string>usercontribReact</string>
					<key>uniqueIdentifier</key>
					<string>React</string>
				</dict>
			</dict>
			<key>React_Native</key>
			<dict>
				<key>date</key>
				<date>2018-05-24T20:11:38Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array>
						<string>React</string>
						<string>ReactNative</string>
						<string>Facebook</string>
						<string>JavaScript</string>
						<string>Reactjs</string>
						<string>UI</string>
					</array>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/React_Native#readme</string>
					<key>authorLinkText</key>
					<string>Michael Sharer</string>
					<key>name</key>
					<string>React Native</string>
					<key>platform</key>
					<string>usercontribReact_Native</string>
					<key>uniqueIdentifier</key>
					<string>React_Native</string>
				</dict>
			</dict>
			<key>Sequelize</key>
			<dict>
				<key>date</key>
				<date>2018-05-24T20:21:51Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/Sequelize#readme</string>
					<key>authorLinkText</key>
					<string>marudor</string>
					<key>name</key>
					<string>Sequelize</string>
					<key>platform</key>
					<string>usercontribSequelize</string>
					<key>uniqueIdentifier</key>
					<string>Sequelize</string>
				</dict>
			</dict>
			<key>date-fns</key>
			<dict>
				<key>date</key>
				<date>2018-05-24T20:24:01Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/date-fns#readme</string>
					<key>authorLinkText</key>
					<string>Ian Sinnott</string>
					<key>name</key>
					<string>date-fns</string>
					<key>platform</key>
					<string>usercontribdate-fns</string>
					<key>uniqueIdentifier</key>
					<string>date-fns</string>
				</dict>
			</dict>
			<key>graphql</key>
			<dict>
				<key>date</key>
				<date>2018-05-24T20:23:26Z</date>
				<key>entry</key>
				<dict>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/graphql#readme</string>
					<key>authorLinkText</key>
					<string>Leonid Shevtsov</string>
					<key>name</key>
					<string>GraphQL Specification</string>
					<key>platform</key>
					<string>usercontribgraphql</string>
					<key>uniqueIdentifier</key>
					<string>graphql</string>
				</dict>
			</dict>
			<key>webpack</key>
			<dict>
				<key>date</key>
				<date>2018-05-24T20:21:16Z</date>
				<key>entry</key>
				<dict>
					<key>aliases</key>
					<array/>
					<key>authorLinkHref</key>
					<string>https://github.com/Kapeli/Dash-User-Contributions/tree/master/docsets/webpack#readme</string>
					<key>authorLinkText</key>
					<string>Matija Marohnić</string>
					<key>name</key>
					<string>webpack</string>
					<key>platform</key>
					<string>usercontribwebpack</string>
					<key>uniqueIdentifier</key>
					<string>webpack</string>
				</dict>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>DHWebViewIsDark</key>
	<true/>
	<key>docsets</key>
	<dict>
		<key>keywords</key>
		<dict>
			<key>~/Library/Application Support/Dash/DocSets/JavaScript/JavaScript.docset</key>
			<string>js:</string>
		</dict>
	</dict>
	<key>feeds</key>
	<dict>
		<key>installed</key>
		<dict>
			<key>http://kapeli.com/feeds/Android.xml</key>
			<dict>
				<key>date</key>
				<date>2018-05-24T20:26:30Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Apple_API_Reference.xml</key>
			<dict>
				<key>date</key>
				<date>2018-05-24T20:20:27Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Bash.xml</key>
			<dict>
				<key>date</key>
				<date>2015-07-31T15:54:35Z</date>
			</dict>
			<key>http://kapeli.com/feeds/C++.xml</key>
			<dict>
				<key>date</key>
				<date>2018-05-24T20:16:54Z</date>
			</dict>
			<key>http://kapeli.com/feeds/C.xml</key>
			<dict>
				<key>date</key>
				<date>2018-05-24T20:16:51Z</date>
			</dict>
			<key>http://kapeli.com/feeds/CSS.xml</key>
			<dict>
				<key>date</key>
				<date>2015-07-31T15:54:54Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Chai.xml</key>
			<dict>
				<key>date</key>
				<date>2018-05-24T20:16:40Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Docker.xml</key>
			<dict>
				<key>date</key>
				<date>2018-05-24T20:17:25Z</date>
			</dict>
			<key>http://kapeli.com/feeds/HTML.xml</key>
			<dict>
				<key>date</key>
				<date>2015-07-31T15:55:07Z</date>
			</dict>
			<key>http://kapeli.com/feeds/JavaScript.xml</key>
			<dict>
				<key>date</key>
				<date>2018-05-24T20:17:52Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Markdown.xml</key>
			<dict>
				<key>date</key>
				<date>2015-07-31T15:55:21Z</date>
			</dict>
			<key>http://kapeli.com/feeds/MomentJS.xml</key>
			<dict>
				<key>date</key>
				<date>2018-05-24T20:53:09Z</date>
			</dict>
			<key>http://kapeli.com/feeds/NodeJS.xml</key>
			<dict>
				<key>date</key>
				<date>2015-07-31T15:55:26Z</date>
			</dict>
			<key>http://kapeli.com/feeds/PostgreSQL.xml</key>
			<dict>
				<key>date</key>
				<date>2018-05-24T20:21:45Z</date>
			</dict>
			<key>http://kapeli.com/feeds/React.xml</key>
			<dict>
				<key>date</key>
				<date>2018-05-24T20:17:18Z</date>
			</dict>
			<key>http://kapeli.com/feeds/SVG.xml</key>
			<dict>
				<key>date</key>
				<date>2015-07-31T15:56:03Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Sass.xml</key>
			<dict>
				<key>date</key>
				<date>2015-07-31T15:55:45Z</date>
			</dict>
			<key>http://kapeli.com/feeds/TypeScript.xml</key>
			<dict>
				<key>date</key>
				<date>2018-05-24T20:16:20Z</date>
			</dict>
			<key>http://kapeli.com/feeds/UnderscoreJS.xml</key>
			<dict>
				<key>date</key>
				<date>2015-07-31T15:56:04Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Vim.xml</key>
			<dict>
				<key>date</key>
				<date>2015-07-31T15:56:06Z</date>
			</dict>
		</dict>
		<key>uninstalled</key>
		<dict>
			<key>http://kapeli.com/feeds/BackboneJS.xml</key>
			<dict>
				<key>date</key>
				<date>2018-05-24T20:17:06Z</date>
			</dict>
			<key>http://kapeli.com/feeds/CoffeeScript.xml</key>
			<dict>
				<key>date</key>
				<date>2018-05-24T20:16:42Z</date>
			</dict>
			<key>http://kapeli.com/feeds/Grunt.xml</key>
			<dict>
				<key>date</key>
				<date>2018-05-24T20:26:50Z</date>
			</dict>
			<key>http://kapeli.com/feeds/jQuery.xml</key>
			<dict>
				<key>date</key>
				<date>2018-05-25T10:00:46Z</date>
			</dict>
		</dict>
	</dict>
	<key>isPinned</key>
	<true/>
	<key>placeholderDelimiter</key>
	<string>__</string>
	<key>profiles</key>
	<array>
		<dict>
			<key>isDefault</key>
			<true/>
			<key>name</key>
			<string>Default</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
		<dict>
			<key>icon</key>
			<string>Snippet</string>
			<key>name</key>
			<string>Snippets Only</string>
			<key>placeholder</key>
			<string>Search Snippets</string>
			<key>searchSnippets</key>
			<true/>
		</dict>
	</array>
	<key>searchKey</key>
	<dict>
		<key>keyCode</key>
		<integer>-1</integer>
		<key>modifiers</key>
		<integer>8395520</integer>
	</dict>
	<key>searchUsingSelectedTextKey</key>
	<dict>
		<key>keyCode</key>
		<integer>-1</integer>
		<key>modifiers</key>
		<integer>8395520</integer>
	</dict>
	<key>shouldRestoreTabs</key>
	<true/>
	<key>shouldShowStatusIcon</key>
	<true/>
	<key>shouldStartAtLogin</key>
	<true/>
	<key>shouldSyncBookmarks</key>
	<true/>
	<key>shouldSyncDocsets</key>
	<true/>
	<key>shouldSyncGeneral</key>
	<true/>
	<key>shouldSyncView</key>
	<true/>
	<key>showInDock</key>
	<true/>
	<key>versionedDHCheatRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHCocoaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHDartRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGitHubRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHGoRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHaskellRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHHexRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHJavaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHPhpRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHRubyRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHScalaRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHStackOverflowRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedDHUserRepo</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>versionedFeeds</key>
	<dict>
		<key>installed</key>
		<dict/>
		<key>uninstalled</key>
		<dict/>
	</dict>
	<key>webSearches</key>
	<array>
		<dict>
			<key>iconName</key>
			<string>Google</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<true/>
			<key>name</key>
			<string>Google</string>
			<key>url</key>
			<string>https://www.google.com/search?q={query}</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>DuckDuckGo</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<false/>
			<key>name</key>
			<string>DuckDuckGo</string>
			<key>url</key>
			<string>https://duckduckgo.com/?q={query}&amp;ia=web</string>
		</dict>
		<dict>
			<key>iconName</key>
			<string>Stack Overflow</string>
			<key>isDefault</key>
			<true/>
			<key>isEnabled</key>
			<true/>
			<key>name</key>
			<string>Stack Overflow</string>
			<key>url</key>
			<string>https://stackoverflow.com/search?q={query}</string>
		</dict>
	</array>
	<key>windowStyle</key>
	<string>Standard</string>
</dict>
</plist>
